//out: ../css/business.css, sourcemap: true, compress: true
@font-face {
  font-family: 'circular';
  src: url(../fonts/CircularStd-Book.otf);
}

@text : #3e3e3e;
@grey : #2D2D2D;
@pink : #FF5A5F;
@blue : #007A87;
@purple : #7B0051;
@shadow-black : rgba(0, 0, 0, 0.60);
@transparentWhite : rgba(255, 255, 255, 0.3);
@transparentGrey: rgba(40, 40, 40, 0.9);
@backgroundColor : #EDEFED;

body {
  font-family: 'circular';
  color: @text;
  box-sizing: border-box;
}

.bouton {
  background-color: @pink;
  color: lighten(@grey, 100%);
  padding: 10px 30px;
  border-radius: 1.5px;
  box-shadow: 0 2px 0 darken(@pink, 10%);
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2s;
  &:hover {
    color: lighten(@grey, 100%);
    text-decoration: none;
    background-color: lighten(@pink, 10%);
  }
}


#navTop {
  background-color: @grey;
  border: none;
  margin: 0;
  padding: 0 !important;
  border-radius: 0;

  li {
    padding: 5px;
    transition: 0.2s;
    a {
      color: lighten(@grey, 35%);
      transition: 0.2s;
    }
    &:hover {
      background-color: darken(@grey, 5%);
      a {
        color: lighten(@grey, 100%);
      }
    }
    .active {
      a {
        color: lighten(@grey, 100%) !important;
      }
    }
  }
  figure {
    background-image: url(../img/logo-airbnb.png);
    height: 32px;
    width: 197px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    filter: brightness(100%);
    span {
      font-size: 2.3rem;
      font-weight: bold;
    }
  }

  #menu-top-right {
    li {
      border-left: 1px solid lighten(@grey, 35%);
    }
  }
}

header {
  background-image: url(../img/business/bg-header.jpg);
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: lighten(@grey, 100%);

  h1 {
    font-size: 6.5rem;
    font-weight: bold;
    width: 70%;
    margin: 0;
  }

  h3 {
    margin: 10px;
  }
  a {
    margin-top: 30px;
  }
}


.white-section {
  padding-top: 80px;

  .card {
    margin-bottom: 80px;
  }

  .title {
    margin-bottom: 80px;
    font-weight: lighter;
    h2 {
      margin-top: 0;
    }
    p {
      font-size: 1.5rem;
    }
    a {
      color: @pink;
    }
  }

  i {
    font-size: 3.5rem;
    color: lighten(@grey, 30%);
  }

  h4 {
    margin-top: 0;
    font-weight: bold;
  }

  p {
    color: lighten(@grey, 30%);
  }

}


.grey-section {
  background-color: @grey;
  color: lighten(@grey, 100%);

  .text-container {
    padding: 60px 50px;
    box-sizing: border-box;
    h2, h4 {
      font-weight: bold;
    }

    .tiret {
      width: 50px;
      height: 3px;
      background-color: lighten(@grey, 50%);
      margin-top: 30px;
    }

    h4 {
      margin-top: 30px;
    }

    p {
      color: lighten(@grey, 50%);
      font-size: 1.6rem;
    }
  }
}

#grey-section-01 {
  figure {
    box-sizing: border-box;
    background-image:url(../img/business/bg-like-home.jpg);
    height: 611px;
    background-size: cover;
  }
}

.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
}

#quote-section {
  blockquote {
    border: none;
    font-size: 3.3rem;
    font-weight: 100;
    color: lighten(@grey, 20%);
  }

  figure {
    background-image: url(../img/business/darragh-ormsby.jpg);
    border-radius: 200px;
    height: 60px;
    width: 60px;
    background-size: contain;
    margin: 20px 0;
  }

  h5 {
    font-weight: bold;
  }

  h5, h6 {
    margin: 5px;
    font-size: 1.5rem;
  }

  h6 {
    color: lighten(@grey, 20%);
  }
}


#grey-section-02 {
  figure {
    box-sizing: border-box;
    background-image:url(../img/business/bg-business-travel.jpg);
    height: 611px;
    background-size: cover;
  }
}

#grey-section-03 {
  figure {
    box-sizing: border-box;
    background-image:url(../img/business/bg-occupe.jpg);
    height: 611px;
    background-size: cover;
  }
}

#blue-section {
  background-color: #007A87;
  color: lighten(@grey, 100%);
  i {
    font-size: 10rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
    width: 80%;
    color: lighten(@blue, 67%);
    font-weight: lighter;
  }
}



// FOOTER
footer {
  background-image: url(../img/footer-bg.png), linear-gradient(darken(@grey, 10%), darken(@grey, 10%));
  background-size: 40%;
  width: 100%;
  padding: 50px 0;
  margin-bottom: 20px;
  color: lighten(@grey, 100%);

  .dropdown {
    .menu-langue-devise {
      width: 80%;
      padding: 10px 10px;
      box-sizing: border-box;
      margin-bottom: 30px;
      background-color: @grey;
      border-radius: 2px;
      border: none;
      color: lighten(@grey, 100%);
      &:focus {
        box-shadow: 0 0 10px lighten(@blue, 50%);
        background-color: @grey !important;
      }

      &:hover {
        background-color: @grey;
        color: lighten(@grey, 100%);
      }

      .drop-space {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .caret {
          color: lighten(@grey, 30%);
        }

        p {
          color: lighten(@grey, 100%);
          margin: 0;
        }
      }
    }

    ul {
      background-color: @grey !important;
      margin-top: -30px;
      li {
        &:first-of-type {
          margin: 0;
        }
      }
      a {
        color: lighten(@grey, 100%);

        &:hover {
          background-color: @pink;
          color: lighten(@grey, 100%);
        }
      }
    }
  }
  a {
    color: lighten(@grey, 100%);
  }

  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
    li {
      &:first-of-type {
        font-weight: bold;
        margin-bottom: 15px;
      }
      a {
        font-size: 1.2rem;
        &:hover {
          color: lighten(@grey, 30%);
        }
      }
    }
  }
  .divider {
    border-bottom: 1px solid lighten(@grey, 10%);
    margin: 20px 0;
  }

  #icons-container {
    margin: 25px 0;
    .icon {
      border: 1px solid lighten(@grey, 10%);
      border-radius: 200px;
      margin: 0 2px;
      height: 40px;
      width: 40px;
      padding: 5px;
      i {
        position: relative;
        top: 4px;
        left: 0px;
        font-size: 1.5rem;
      }
    }
  }

  p {
    color: lighten(@grey, 10%);
    font-size: 1.5rem;
    margin: 0;
  }

  #xs-list {
    font-weight: bold;
    li a {
      font-size: 1.1rem;
    }
    li:first-of-type {
      margin: 0 !important;
    }
  }
}



@media screen and (max-width: 768px) {
  header {
    height: 540px;
    h1 {
      font-size: 2.7rem;
      width: 90%;
    }
    h3 {
      font-size: 1.7rem;
      width: 90%;
    }
  }

  .grey-section {
    figure {
      background-position: -245px;
      background-size: cover;

    }
  }

  #grey-section-01, #grey-section-02, #grey-section-03 {
    figure {
      height: 530px;
    }
  }

  .white-section {
    .card {
      margin-bottom: 50px;
    }

    .title {
      margin-bottom: 80px;
      font-weight: lighter;
      h2 {
      }
      p {
        font-size: 1.5rem;
      }
    }

    i {
      font-size: 2.5rem;
      position: relative;
      top: 5px;
      color: lighten(@grey, 30%);
    }
    h4 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }
  }

  #quote-section {
    blockquote {
      font-size: 1.8rem;
    }
  }

  #blue-section {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

}
