// out: ../css/styles.css, sourcemap: true, compress: true

@grey : #484848;
@pink : #FF5A5F;
@blue : #007A87;
@purple : #7B0051;
@shadow-black : rgba(0, 0, 0, 0.80);
@transparentWhite : rgba(255, 255, 255, 0.3);


body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.bouton {
  color: darken(@grey, 10%);
  background-color: lighten(@grey, 100%);
  font-weight: bold;
  padding: 10px 50px;
  margin: 50px 0;
  border-radius: 2px;
  border: 1px solid lighten(@grey, 40%);
  transition: 0.2s;

  &:hover {
    text-decoration: none;
    border-color: lighten(@grey, 30%);
    color: darken(@grey, 10%);
  }
}


#navTop {
  background-color: lighten(@grey, 100%);
  border-bottom: 1px solid lighten(@grey, 50%);

  .navbar-brand {
    background-image: url(../img/logo-airbnb.png);
    height: 31px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px 0;
  }



  #navModal {
    display: none;
  }

  form {

    input {
      border: none;
      background-image: url(../img/search.png);
      background-repeat: no-repeat;
      background-position: 5px 5px;
      padding: 0 35px;
      box-shadow: none;

    }
  }
}


header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: lighten(@grey, 100%);

  .header-content {
    h2 {
      font-size: 5rem;
      text-transform: uppercase;
    }

    h2, p {
      font-weight: bold;
    }

    p {
      font-size: 1.6rem;
      margin: 50px 0;
    }

    .bouton {
      padding: 10px 50px;
      margin: 50px 0;
      border-radius: 2px;
      border: none;
      transition: 0.2s;

      &:hover {
        text-decoration: none;
        border-color: none;
      }
    }

  }


  #navHeader {
    background-color: @shadow-black;

    padding: 15px;
    width: 100%;

    .input-group {
      // display: flex;
      // align-items: center;

      .form-control {
        width: 100%;
      }

      .dropdown-menu li a {
        &:hover {
          background-color: @pink !important;
          color: lighten(@grey, 100%) !important;
        }
      }


      .bouton {
        color: lighten(@grey, 100%);
        background-color: @pink;
        border: none;
        padding: 10px;
        border-radius: 0 2px 2px 0;
        font-weight: bold;
        box-shadow: 0 2px 0 darken(@pink, 20%);
        transition: 0.2s ease;
        &:hover {
          background-color: lighten(@pink, 10%);
        }
      }
    }
  }
}





// MAIN

#main {
  background-color: lighten(@grey, 55%);

  .title {

    color: darken(@grey, 4%);;
    h3 {
      font-weight: bold;
      font-size: 3rem;
      margin-top: 0;
    }

    p {
      font-size: 1.6rem;
    }
  }






  .illustration-container {
    height: 344px;
    margin-top: 30px;


    .rideau01 {
      background-color: @transparentWhite;
      height: 400px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform:skewY(90deg);
      transition: 0.4s ease-in-out;
    }

    .rideau02 {
      background-color: @transparentWhite;
      height: 400px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform:skewY(90deg);
      transition: 0.4s ease-in-out;
      transition-delay: 0.1s;
    }

    .rideau03 {
      background-color: @transparentWhite;
      height: 400px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform:skewY(-90deg);
      transition: 0.4s ease-in-out;
      transition-delay: 0.2s;
    }


    :hover {
      .rideau01 {
        transform:skewY(180deg);

      }

      .rideau02 {
        transform:skewY(120deg);
      }

      .rideau03 {
        transform:skewY(-130deg);
      }

      p {
        color: darken(@grey, 20%);
      }
    }



    .illustration {
      background-repeat: no-repeat;
      background-size: cover;

      overflow: hidden;

      height: 344px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: lighten(@grey, 100%);
      text-align: center;
      p {
        z-index: 5;
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
        transition: 0.3s ease;
      }

      h4 {
        font-size: 2.3rem;
        font-weight: bold;
        margin: 10px 0 0 0;
      }

      h5 {
        font-size: 1.5rem;
        margin: 0;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .bouton {
      color: @grey;
      background-color: lighten(@grey, 100%);
      font-weight: bold;
      padding: 10px 50px;
      margin: 50px 0;
      border-radius: 2px;
      border: 1px solid lighten(@grey, 40%);
      transition: 0.2s;

      &:hover {
        text-decoration: none;
        border-color: lighten(@grey, 30%);
      }
    }
  }


  // ESTIMER

  #estimer {
    height: 344px;
    margin: 20px 0 50px 0;
    #estimerIllustration {
      background-image: url(../img/host-banner.jpg);
      background-size: cover !important;
    }
    #estimerText {
      background-color: lighten(@grey, 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      padding: 35px;

      .bouton {
        color: lighten(@grey, 100%);
        background-color: @blue;
        border: none;
        padding: 10px;
        border-radius: 0 2px 2px 0;
        font-weight: bold;
        box-shadow: 0 2px 0 darken(@blue, 20%);
        transition: 0.2s ease;
        &:hover {
          background-color: lighten(@blue, 7%);
        }
      }
    }
  }





  #weekend {

    #lille {
      background-image: url(../img/lille.jpg);
    }

    #bruxelles {
      background-image: url(../img/bruxelles.jpg);
    }

    #londres {
      background-image: url(../img/londres.jpg);
    }
  }

  // PARTIE EXPLORER
  #explorer {
    .hote-picture {
      height: 56px;
      width: 56px;
      background-size: 56px 56px;
      border-radius: 200px;
      background-repeat: no-repeat;
      background-position: -3px 0;
      margin-bottom: 10px;
      border: 3px solid lighten(@grey, 100%);
    }




    #lisbonne {
      background-image: url(../img/lisbonne.jpg);

    }

    #parigot {
      background-image: url(../img/chezFamilleParigot.jpg);

      #id-parigot {
        background-image: url(../img/id-famille-parigot.jpg);
      }
    }

    #amsterdam{
      background-image: url(../img/amsterdam.jpeg);
    }

    #newYork {
      background-image: url(../img/newYork.jpg);
    }

    #venise {
      background-image: url(../img/escapadeRomantiqueAVenise.jpg);
      background-position: center;
    }

    #rome {
      background-image: url(../img/rome.jpg);
    }

    #stockholm {
      background-image: url(../img/chez-moa.jpg);

      #id-moa {
        background-image: url(../img/id-moa.jpg);
      }
    }

    #berlin {
      background-image: url(../img/berlin.jpg);
    }

    #bordeaux {
      background-image: url(../img/bordeaux.jpg);
    }

    #biarritz {
      background-image: url(../img/surfABiarritz.jpg);
      background-position: center;
    }

    } //FIN EXPLORER

    } // FIN MAIN

    #carousel {
      color: lighten(@grey, 100%);
      background-image: url(../img/carrousel-bg01.jpg);
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 7rem;
        font-weight: bold;
      }
      p {
        font-size: 2rem;
        font-weight: 400;
      }

      .fa-play-circle {
        color: rgba(255, 255, 255, 0.8);
        font-size: 9rem;
      }
    }

    #communaute {
      a {
        color: lighten(@grey, 100%);
      }
      .card {

        height: 492px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        transition: 0.3s;
        &:hover {
          filter: brightness(80%);
        }
        .etiquette {
          padding: 10px;
          font-weight: bold;
        }

        .card-text {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 20px;

          h3 {
            margin-top: 0;
            font-weight: bold;
            font-size: 3rem;
          }
        }

      
      }

      #card01 {
        background-color: lighten(@blue, 10%);

        figure {
          background-image: url(../img/create-airbnb.png);
          background-position: center;
          background-size: contain;
          height: 270px;
          width: 234px;
          background-repeat: no-repeat;
        }

        .card-text {
          height: 155px;
        }
      }

      #card02 {
        background-image: url(../img/garry.jpg);

        .etiquette {
          background-color: @blue;
        }
      }

      #card03 {
        background-image: url(../img/entreprise.jpg);

        .etiquette {
          background-color: @grey;
        }
      }

      #card04 {
        background-image: url(../img/patricia.jpg);

        .etiquette {
          background-color: @purple;
        }
      }
    }

    footer {
      background-image: url(../img/footer-bg.png), linear-gradient(darken(@grey, 10%), darken(@grey, 10%));
      background-size: 40%;
      width: 100%;
      padding: 30px 0;
      margin: 20px 0;
      color: lighten(@grey, 100%);
      a {
        color: lighten(@grey, 100%);
      }



      .icon {
        border: 1px solid lighten(@grey, 40%);
        border-radius: 200px;
      }
    }
